/.idea
/.vagrant
/.vscode
/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.env
.tags
.tags1
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
